@model List<User>
@{
    ViewBag.Title = "用户管理";
}

<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <td>Id</td>
        <td>User</td>
        <td style="width:20%">密码</td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.PassWord</td>
        </tr>
    }
</table>