@model User

@{
    ViewBag.Title = "登录";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="UserName">用户名</label>
        <input type="text" class="form-control" placeholder="输入用户名" id="UserName" name="UserName" />
    </div>

    <div class="form-group">
        <label for="PassWord">密码</label>
        <input type="password" class="form-control" placeholder="输入密码" id="PassWord" name="PassWord" />
    </div>

    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-primary" id="btnLogin">Login</button>
        <button type="button" class="btn btn-default" id="btnRegister">Register</button>
    </div>
    <div class="clearfix"></div>
}

<script>
    $(function () {
        $("#btnRegister").click(function () {
            location.href = "Register"
        })
    })
</script>
