@model List<Diary>
@{
    ViewBag.Title = "博客";
}

<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <td>标题</td>
        <td>作者</td>
        <td style="width:20%">发布时间</td>
    </tr>
    @foreach (var diary in  Model) {
        <tr>
            <td>
                <a href="@Url.Content("~/Home/Show/"+@diary.Id)">@diary.Title</a>
            </td>
            <td>@diary.UserName</td>
            <td>@diary.PubDate</td>
        </tr>
    }
</table>
