@model List<Blog>
@{
    ViewBag.Title = "博客";
}

<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <td>标题</td>
        <td>作者</td>
        <td style="width:20%">发布时间</td>
    </tr>
    @foreach (var blog in  Model) {
        <tr>
            <td>
                <a href="@Url.Content("~/Home/Show/"+@blog.Id)">@blog.Title</a>
            </td>
            <td>@blog.UserName</td>
            <td>@blog.PubDate</td>
        </tr>
    }
</table>
